/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body app-root {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}